@media (min-width: 200px){

    #container{
        display: flex;
        justify-content: center;
        margin-top: 15%;
    }

    #buttons{
        width: 30%;
        height: 60%;
        display: wrap;
        margin-left: 10%;
    }

    #buttons button{
        margin: 2%;
        width: 10%;
    }

    #buttons form input{
        width: 85%;
        margin-left: 1%;
    }

}